{{ define "title" }}
  {{ title (i18n (lower .Title)) | default .Title }} · {{.Site.Title }}
{{ end }}
{{ define "content" }}
<section class="container list">
  <h1 class="title">
    <a class="title-link" href="{{ .Permalink | safeURL }}">
      {{ title (i18n (lower .Title)) | default .Title }}
    </a>
  </h1>
  <ul>

    {{ range .Pages.ByLastmod.Reverse }}
    <article>
      <a href="{{ .RelPermalink }}">
        <div class="img-div">
          <img class="post-cover-img" src="{{ .Permalink | safeURL }}../res/{{ .Params.cover }}" />
        </div>
      </a>

      <div class=" post-info" onclick="location.href='{{ .RelPermalink }}'">
        <div>

          <div class="post-text-info">
            <h3>{{ .Title }}</h3>
            <div>{{ .Summary }}</div>
          </div>

          <div class="post-icon-info">

            <!-- <span class="posted-on post-icon-post-time">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              {{ .Date.Format "06-01-02"}}
            </span> -->
            <span class="lastmod-time post-icon-lastmod-time">
              <i class="fa fa-edit"></i> {{ .Page.Lastmod.Format "Jan 02, 2006" }}
            </span>
            <span class="reading-time post-icon-reading-time">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              {{ i18n "reading_time" .ReadingTime }}
            </span>

          </div>
          <div class="post-tags">
            {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}
          </div>

        </div>
      </div>

    </article>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</section>
{{ end }}